html {
    padding: 20px;
}

header {
    border: 3px solid black;
    height: 25vh;
}

.purple {
    background-color: rgb(112, 68, 188);
    height: 15vh;
    display: inline-block;
    width: 40px;
    margin-top: 8vh;
    margin-left: 10px;
}

.green {
    background-color: rgb(29, 153, 29);
    height: 22vh;
    display: inline-block;
    margin-left: 5%;
    width: 35%;
}

.blue {
    background-color: rgb(111, 189, 238);
    height: 22vh;
    display: inline-block;
    width: 22%;
    margin-left: 5%;
    border-radius: 50%;
}

section {
    margin-top: 20px;
    border: 4px dotted black;
    height: 25vh;
}

.yellow {
    background-color: rgb(254, 255, 215);
    height: 18vh;
    margin: 30px;
    box-shadow: 8px 10px 10px black;
}

footer {
    height: 35vh;
    border: 1px solid gray;
    width: 60vh;
    box-shadow: 1px 5px 10px gray;
    margin-top: 20px;
    margin-left: 20vh;

}

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(4, 4, 143);
    letter-spacing: 10px;
}

.hello-box {
    margin: 20%;
}