header {
    height: 125px;
    background-color: rgb(79, 79, 79);
}


section {
    background-color: rgb(197, 197, 197);
    height: 100vh;
    width: 15%;
    display: inline-block;


}

.left {
    float: left;
}

.middle {
    width: 70%;
    background-color: white;
}

.right {
    float: right;
}

div {
    background-color: black;
    height: 10vh;
    position: relative;
    margin-top: 90vh;

}